pipeline/Main_pl.json
{
	"name": "Main_pl",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Sp_get_datasets]",
						"storedProcedureParameters": {
							"Datagroup": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Datagroup",
									"type": "Expression"
								}
							},
							"source_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Source_id",
									"type": "Expression"
								}
							},
							"source_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Source_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ds_lookup_SP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "call ingestion controller",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ingestion_controller",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Source_name": {
										"value": "@item().Source_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Datagroup": {
				"type": "string"
			},
			"Source_name": {
				"type": "string"
			},
			"Source_id": {
				"type": "string"
			}
		},
		"annotations": []
	}
}