project1/pipeline/Ingestor_Master.json
{
	"name": "Ingestor_Master",
	"properties": {
		"activities": [
			{
				"name": "Start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@formatDateTime(utcNow(),'MM-dd-yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log_Master_Insert",
				"description": "Insert into Log Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_log_schema_IN]",
					"storedProcedureParameters": {
						"ADF_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Datagroup": {
							"value": "",
							"type": "String"
						},
						"Datasetlist": {
							"value": "",
							"type": "String"
						},
						"End_time": {
							"value": null,
							"type": "DateTime"
						},
						"Pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_name": {
							"value": null,
							"type": "String"
						},
						"Start_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "'Started'",
							"type": "String"
						},
						"Trigger_id": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Trigger_start_Date": {
							"value": {
								"value": "@variables('start_time')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_trial_sp_log",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Call_Get_Dataset_Config_LK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log_Master_Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Sp_get_datasets]",
						"storedProcedureParameters": {
							"Datagroup": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.DataGroup",
									"type": "Expression"
								}
							},
							"source_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DataSetList",
									"type": "Expression"
								}
							},
							"source_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_azuresql_src_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach DataSet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Call_Get_Dataset_Config_LK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Call_Get_Dataset_Config_LK').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IngestionController",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Query": {
										"value": "@item().full_query",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"SourceName": {
										"value": "@item().source_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceName": {
				"type": "string"
			},
			"DataGroup": {
				"type": "string"
			},
			"DataSetList": {
				"type": "string"
			}
		},
		"variables": {
			"start_time": {
				"type": "String"
			},
			"SourceName": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"errors": {
				"type": "String"
			},
			"starttime": {
				"type": "String"
			},
			"endtime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Version2"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-23T06:20:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}