demosalil/project1/pipeline/demo_blob_ingestor_child_pl.json
{
	"name": "demo_blob_ingestor_child_pl",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_getmeta_src",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"wildcardFileName": "*csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_blob_src",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_sql_to_adls_Avro_dst",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().name,' ',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "getn_errors_status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "errors",
										"value": {
											"type": "Expression",
											"content": "@activity('Copy data1').output.errors"
										}
									},
									{
										"key": "status",
										"value": {
											"type": "Expression",
											"content": "@activity('Copy data1').output.executionDetails[0].status"
										}
									},
									{
										"key": "filesWritten",
										"value": {
											"type": "Expression",
											"content": "@activity('Copy data1').output.filesWritten"
										}
									},
									{
										"key": "getfilenames",
										"value": {
											"type": "Expression",
											"content": "@concat(item().name,' ',formatDateTime(utcnow(),'yyyy-MM-dd'),'.avro')"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"foldername": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MAIN_PIPELINE_FOLDLER"
		},
		"annotations": []
	}
}