demosalil/project1/pipeline/ingestion_controller.json
{
	"name": "ingestion_controller",
	"properties": {
		"activities": [
			{
				"name": "Starttime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Start_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_insert_log_detial_controller_level",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Starttime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_log_schema_PL_level_insert]",
					"storedProcedureParameters": {
						"ADF_pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Databrick_exec_time": {
							"value": "",
							"type": "String"
						},
						"Databrick_url": {
							"value": "",
							"type": "String"
						},
						"Dataset_name": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"End_date": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"End_time": {
							"value": null,
							"type": "DateTime"
						},
						"Error_message": {
							"value": null,
							"type": "String"
						},
						"Fire_command": {
							"value": null,
							"type": "String"
						},
						"From_layer_id": {
							"value": "1",
							"type": "Int32"
						},
						"Ingestor_name": {
							"value": null,
							"type": "String"
						},
						"Landing_file_name": {
							"value": {
								"value": "@concat(string(pipeline().parameters.TableName),' ',formatDateTime(utcnow(), 'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"type": "String"
						},
						"Record_count": {
							"value": null,
							"type": "Int32"
						},
						"Source_name": {
							"value": {
								"value": "@pipeline().parameters.SourceName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Start_date": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Start_time": {
							"value": {
								"value": "@variables('Start_time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"STATUS": {
							"value": null,
							"type": "String"
						},
						"To_layer_id": {
							"value": "2",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_azuresql_src_SP",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "SP_insert_log_detial_controller_level",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"cases": []
				}
			}
		],
		"parameters": {
			"Query": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"SourceName": {
				"type": "string"
			},
			"foldername": {
				"type": "string"
			}
		},
		"variables": {
			"Start_time": {
				"type": "String"
			},
			"End_time": {
				"type": "String"
			},
			"record_count": {
				"type": "String"
			},
			"get_foldername": {
				"type": "String"
			},
			"status": {
				"type": "String"
			},
			"endtime": {
				"type": "String"
			},
			"starttime": {
				"type": "String"
			},
			"errors": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MAIN_PIPELINE_FOLDLER"
		},
		"annotations": []
	}
}